<?xml version="1.0" encoding="utf-8"?>
<Member Key="43dd827c-c870-459c-9f96-c6bf5b99a6d4" Alias="lassefreslund@example.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LasseFreslund</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-10-15T08:43:24</CreateDate>
    <NodeName Default="Lasse Freslund" />
    <SortOrder>8</SortOrder>
    <Email>lassefreslund@example.com</Email>
    <Username>lassefreslund@example.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFtzms/evYMVVnJeP7RUdVVwa1Oe/d5GVn5bujPwGo/6AA6mwr/lft3GAdWrKgTcag==</RawPassword>
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Lasse]]></Value>
    </firstName>
    <lastName>
      <Value><![CDATA[Freslund]]></Value>
    </lastName>
    <subscriptionExpiry>
      <Value><![CDATA[2023-12-31T00:00:00]]></Value>
    </subscriptionExpiry>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>