<?xml version="1.0" encoding="utf-8"?>
<Member Key="69d7b830-2c18-4e94-b21d-0a6898eeeba3" Alias="lottepitcher@example.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LottePitcher</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-10-14T23:10:17</CreateDate>
    <NodeName Default="Lotte Pitcher" />
    <SortOrder>0</SortOrder>
    <Email>lottepitcher@example.com</Email>
    <Username>lottepitcher@example.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFtzms/evYMVVnJeP7RUdVVwa1Oe/d5GVn5bujPwGo/6AA6mwr/lft3GAdWrKgTcag==</RawPassword>
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Lotte]]></Value>
    </firstName>
    <lastName>
      <Value><![CDATA[Pitcher]]></Value>
    </lastName>
    <subscriptionExpiry>
      <Value><![CDATA[2024-10-01T00:00:00]]></Value>
    </subscriptionExpiry>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>