<?xml version="1.0" encoding="utf-8"?>
<Member Key="760cc278-77d6-4bb5-8933-fde8e2a3fcaf" Alias="emmaburstow@example.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EmmaBurstow</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-10-14T23:10:17</CreateDate>
    <NodeName Default="Emma Burstow" />
    <SortOrder>3</SortOrder>
    <Email>emmaburstow@example.com</Email>
    <Username>emmaburstow@example.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFtzms/evYMVVnJeP7RUdVVwa1Oe/d5GVn5bujPwGo/6AA6mwr/lft3GAdWrKgTcag==</RawPassword>
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Emma]]></Value>
    </firstName>
    <lastName>
      <Value><![CDATA[Burstow]]></Value>
    </lastName>
    <subscriptionExpiry>
      <Value><![CDATA[]]></Value>
    </subscriptionExpiry>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>