<?xml version="1.0" encoding="utf-8"?>
<Member Key="7bcee375-ba90-409d-b895-66d726fc908c" Alias="jacobovergaard@example.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JacobOvergaard</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-10-14T23:10:17</CreateDate>
    <NodeName Default="Jacob Overgaard" />
    <SortOrder>5</SortOrder>
    <Email>jacobovergaard@example.com</Email>
    <Username>jacobovergaard@example.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFtzms/evYMVVnJeP7RUdVVwa1Oe/d5GVn5bujPwGo/6AA6mwr/lft3GAdWrKgTcag==</RawPassword>
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Jacob]]></Value>
    </firstName>
    <lastName>
      <Value><![CDATA[Overgaard]]></Value>
    </lastName>
    <subscriptionExpiry>
      <Value><![CDATA[]]></Value>
    </subscriptionExpiry>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>