<?xml version="1.0" encoding="utf-8"?>
<Member Key="e35ffc48-c29f-40de-a2eb-15cbc116004a" Alias="kimsneummadsen@example.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KimSneumMadsen</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-10-14T23:10:17</CreateDate>
    <NodeName Default="Kim Sneum Madsen" />
    <SortOrder>4</SortOrder>
    <Email>kimsneummadsen@example.com</Email>
    <Username>kimsneummadsen@example.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFtzms/evYMVVnJeP7RUdVVwa1Oe/d5GVn5bujPwGo/6AA6mwr/lft3GAdWrKgTcag==</RawPassword>
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Kim]]></Value>
    </firstName>
    <lastName>
      <Value><![CDATA[Sneum Madsen]]></Value>
    </lastName>
    <subscriptionExpiry>
      <Value><![CDATA[]]></Value>
    </subscriptionExpiry>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>