<?xml version="1.0" encoding="utf-8"?>
<Member Key="e45c46f9-9f70-4db2-b3ee-82e7ffa7446f" Alias="danlister@example.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DanLister</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-10-15T08:49:32</CreateDate>
    <NodeName Default="Dan Lister" />
    <SortOrder>15</SortOrder>
    <Email>danlister@example.com</Email>
    <Username>danlister@example.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFtzms/evYMVVnJeP7RUdVVwa1Oe/d5GVn5bujPwGo/6AA6mwr/lft3GAdWrKgTcag==</RawPassword>
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Dan]]></Value>
    </firstName>
    <lastName>
      <Value><![CDATA[Lister]]></Value>
    </lastName>
    <subscriptionExpiry>
      <Value><![CDATA[2024-12-31T00:00:00]]></Value>
    </subscriptionExpiry>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>