<?xml version="1.0" encoding="utf-8"?>
<Member Key="e6efc9cd-a901-46d1-a8ed-baf1634018d9" Alias="filipbech-larson@example.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FilipBechLarson</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-10-15T08:37:24</CreateDate>
    <NodeName Default="Filip Bech-Larson" />
    <SortOrder>7</SortOrder>
    <Email>filipbech-larson@example.com</Email>
    <Username>filipbech-larson@example.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFtzms/evYMVVnJeP7RUdVVwa1Oe/d5GVn5bujPwGo/6AA6mwr/lft3GAdWrKgTcag==</RawPassword>
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Filip]]></Value>
    </firstName>
    <lastName>
      <Value><![CDATA[Bech-Larson]]></Value>
    </lastName>
    <subscriptionExpiry>
      <Value><![CDATA[]]></Value>
    </subscriptionExpiry>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>