<?xml version="1.0" encoding="utf-8"?>
<Member Key="ee9dc5ad-0c85-4b55-b69b-2d82d320fa98" Alias="allensmith@example.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AllenSmith</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-10-14T23:10:17</CreateDate>
    <NodeName Default="Allen Smith" />
    <SortOrder>6</SortOrder>
    <Email>allensmith@example.com</Email>
    <Username>allensmith@example.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEFtzms/evYMVVnJeP7RUdVVwa1Oe/d5GVn5bujPwGo/6AA6mwr/lft3GAdWrKgTcag==</RawPassword>
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Allen]]></Value>
    </firstName>
    <lastName>
      <Value><![CDATA[Smith]]></Value>
    </lastName>
    <subscriptionExpiry>
      <Value><![CDATA[]]></Value>
    </subscriptionExpiry>
    <umbracoMemberComments>
      <Value><![CDATA[]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>