<div class="date-picker-with-status" ng-controller="Custom.DatePickerWithStatusController as vm">

    <input type="date" ng-model="vm.dateValue" />

    <div class="date-picker-status" data-date-status="{{vm.dateStatus}}">{{vm.dateStatusLabel}}</div>

    <div class="date-picker-buttons" ng-if="vm.showButtons">
        <span ng-repeat="addButton in vm.addMonthsButtons">
            <umb-button type="button"
                        button-style="success"
                        action="vm.addMonthsToDate(addButton)"
                        label="{{'Add ' + addButton + ' months'}}">
            </umb-button>
        </span>
        <umb-button type="button"
                    button-style="info"
                    action="vm.resetDate()"
                    label="Reset">
        </umb-button>
    </div>
    
</div>
