<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6b27ee0-1100-4541-b0ed-43cdecd65c7a" Alias="Date Picker with Status" Level="2">
  <Info>
    <Name>Date Picker with Status</Name>
    <EditorAlias>Custom.DatePickerWithStatus</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "activeLabel": "ACTIVE",
  "expiredLabel": "EXPIRED",
  "emptyLabel": "UNSUBSCRIBED",
  "addMonthsButtons": "6,12"
}]]></Config>
</DataType>